************************************************************
NetBird Linode Marketplace App

Dashboard: https://{{ netbird_fqdn }}
Deployment: {{ netbird_project_dir }}
Access notes: /home/{{ username }}/.credentials

Create the first NetBird administrator in the browser wizard.
************************************************************
